@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 22% 95%;
    --foreground: 220 48% 14%;
    --card: 210 20% 98%;
    --card-foreground: 220 48% 14%;
    --popover: 210 20% 98%;
    --popover-foreground: 220 48% 14%;
    --primary: 218 66% 43%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 22% 92%;
    --secondary-foreground: 220 48% 14%;
    --muted: 210 18% 88%;
    --muted-foreground: 220 18% 35%;
    --accent: 218 66% 43%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 100% / 0.1;
    --input: 0 0% 16%;
    --ring: 217 91% 60%;
    --radius: 0px;
  }
}
